Repository rimorin/ministry-mapper: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --fix --max-warnings 0

build: fix type ref for svgr
  src/env.d.ts
Due: eslint --fix --max-warnings 0

build: optimized rollup build
  vite.config.js
Due: none

build: optimized image/svg assets
  package-lock.json
  package.json
  vite.config.js
Due: none

build: include svgo lib
  package-lock.json
  package.json
Due: none

build: more build tools
  package-lock.json
  package.json
  vite.config.js
Due: none

build: add eslint checker
  package-lock.json
  vite.config.js
Due: none

feat: implement admin module for hh options
  src/components/modal/congoptions.tsx
  src/css/common.css
  src/css/slip.css
  src/pages/dashboard/admin.tsx
  src/utils/constants.tsx
  src/utils/interface.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

harden logic for completion percentage
  src/utils/helpers/processcompletedpercent.ts
Due: eslint --fix --max-warnings 0

feat: implement offline screen to indicate poor or zero internet connection
  src/components/statics/offline.tsx
  src/pages/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

Revert "feat: implement offline screen to indicate poor or zero internet connection"
  src/components/statics/offline.tsx
  src/pages/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

feat: implement offline screen to indicate poor or zero internet connection
  src/components/statics/offline.tsx
  src/pages/dashboard/admin.tsx
  src/pages/territory/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

Revert "feat: implement offline screen to indicate poor or zero internet connection"
  src/components/statics/offline.tsx
  src/pages/dashboard/admin.tsx
  src/pages/territory/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

build: remove build progress
  package-lock.json
  package.json
  vite.config.js
Due: none

build: add purgeCSS
  package-lock.json
  package.json
  vite.config.js
Due: none

build: reduce css bundle by using sass
  src/App.scss
  src/pages/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

build: implement SASS
  src/App.scss
  src/pages/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

build: add missing SASS lib
  package-lock.json
  package.json
Due: none

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f5734c84555e1aef24400d8cc0701842a7a007e3
Due: none

fix: remove unnecessary isNew field for option
  src/components/modal/congoptions.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.22.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  eda4e0947d2512ae37e8e63bd300002438b73d80
Due: none

build: update packages
  package-lock.json
  package.json
Due: none

refactor: removed App.tsx bloat
  src/App.tsx
  src/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

docs: update readme
  README.md
Due: none

docs: update recaptcha instructions
  README.md
Due: none

feat: gmap territory directions
  src/components/form/footer.tsx
  src/pages/dashboard/admin.tsx
  src/pages/territory/slip.tsx
  src/utils/constants.tsx
  src/utils/helpers/directiongenerator.ts
Due: pretty-quick --staged, eslint --fix --max-warnings 0

Notes added by 'git notes add'
  c74cc89baa67095d813b3103dd8a93a72165fd94
Due: none

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: assign-personal listing
  src/components/modal/assignments.tsx
  src/pages/dashboard/admin.tsx
  src/utils/helpers/processlinkct.ts
  src/utils/interface.tsx
  src/utils/policies.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  ff1fcabb93015d2d2f972714e9603df5b028a0d9
Due: none

fix: remove empty code string check
  src/utils/helpers/checkterritorycd.ts
Due: eslint --fix --max-warnings 0

fix: increase public housing floor limit to 50
  src/utils/constants.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.24.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  666c83e0298a15aa8eecd29721277137a45e6c1b
Due: none

Path conditions:
  pretty-quick --staged: any of: *.{css, ts,tsx}
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
