Repository rimorin/ministry-mapper: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --fix --max-warnings 0

build: update packages
  package-lock.json
  package.json
Due: none

feat: implement custom expiry date for personal slips
  src/pages/dashboard/admin.tsx
  src/utils/constants.tsx
  src/utils/interface.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

fix: handle empty delimiter unit value
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

fix: handle invalid sequence input
  src/pages/dashboard/admin.tsx
  src/utils/constants.tsx
  src/utils/helpers.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  bb5a59ab111dcad84746a729bbf5ecc5f448ec1f
Due: none

temp remove vercel deployment[no ci]
  .github/workflows/mm.yaml
  vercel.json
Due: none

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  435aea88005795f7f195138c986fe3ad21971928
Due: none

feat: implement user assignments module
  src/components/navigation.tsx
  src/components/table.tsx
  src/css/common.css
  src/pages/dashboard/admin.tsx
  src/pages/territory/index.tsx
  src/pages/territory/slip.tsx
  src/utils/constants.tsx
  src/utils/helpers.tsx
  src/utils/policies.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

fix: implement revoke link checker
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

added slip hyperlink in assignment
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

fix: implement check for empty personal slip expiry date
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

added linkExpiryHrs default [no ci]
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f1265a2192bd6ac83cbee2039f41d72676f53b84
Due: none

fix: syntax for hyperlink target
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.14.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  053ebfc1a18bb79ce2236c9ec45214fd67eca3ac
Due: none

fix: set assignment flag to false when there is no assignments
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.14.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  47aeacf80a0852973522882589c5568bc5771343
Due: none

refactor: implement modal management
  package-lock.json
  package.json
  src/components/form.tsx
  src/components/modals.tsx
  src/index.tsx
  src/pages/dashboard/admin.tsx
  src/pages/territory/slip.tsx
  src/utils/constants.tsx
  src/utils/helpers.tsx
  src/utils/interface.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

bug fixes 01
  src/components/modals.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

fix: handle undefined device vendor
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

use undefined instead
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

log out TaoWei device information
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

removed logging
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

build: remove unused package
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.14.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e02659a76f2315eb71ece179305db22e61fab258
Due: none

feat: optional publisher name entry for personal slips
  src/components/modals.tsx
  src/pages/dashboard/admin.tsx
  src/utils/policies.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

style: fix alignment for account dropdown
  src/pages/dashboard/admin.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

temporarily disable Google appcheck
  src/firebase.ts
Due: eslint --fix --max-warnings 0

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7266bbb76274779f960b82c160aa44ca1e768c21
Due: none

feat: google recaptcha upgrade to enterprise version
  src/firebase.ts
Due: eslint --fix --max-warnings 0

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  pretty-quick --staged: any of: *.{css, ts,tsx}
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
