Repository rimorin/ministry-mapper: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.24.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: link chromatic interface
  package-lock.json
  package.json
Due: none

ci: add chromatic automation
  .github/workflows/mm.yaml
Due: none

ci: adjust fetch depth for chromatic integration
  .github/workflows/mm.yaml
Due: none

ci: github notification when publish to chromatic
  .github/workflows/mm.yaml
Due: none

ci: adjust notification naming
  .github/workflows/mm.yaml
Due: none

test UI error
  src/components/navigation/useanother.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

Revert "test UI error"
  src/components/navigation/useanother.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

chore(release): 1.24.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0707c1c08c24463cdfbdd075a470d21a452d8ec2
Due: none

ci: optimized actions script
  .github/workflows/mm.yaml
Due: none

build: remove react select
  package-lock.json
  package.json
  src/components/form/household.tsx
  src/components/modal/updatestatus.tsx
  src/utils/interface.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

build: update packages
  .gitignore
  package-lock.json
  package.json
Due: none

Revert "build: update packages"
  .gitignore
  package-lock.json
  package.json
Due: none

Revert "build: remove react select"
  package-lock.json
  package.json
  src/components/form/household.tsx
  src/components/modal/updatestatus.tsx
  src/utils/interface.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

feat: implement multi household types
  src/components/form/household.stories.tsx
  src/components/form/household.tsx
  src/components/modal/congsettings.tsx
  src/components/modal/updatestatus.tsx
  src/components/table/admin.tsx
  src/components/table/privatetable.tsx
  src/components/table/publictable.tsx
  src/components/table/unit.tsx
  src/pages/dashboard/admin.tsx
  src/pages/territory/slip.tsx
  src/utils/constants.tsx
  src/utils/helpers/getoptionmultiselect.ts
  src/utils/interface.tsx
  src/utils/policies.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

refactor: removed unnecessary string interpolation
  src/components/modal/assignments.tsx
  src/components/modal/changepostalcd.tsx
  src/components/modal/updatestatus.tsx
  src/components/modal/updateunit.tsx
  src/components/navigation/territorylist.tsx
  src/components/navigation/userlist.tsx
  src/pages/dashboard/admin.tsx
  src/pages/dashboard/index.tsx
  src/pages/territory/slip.tsx
  src/utils/helpers/maxunitlength.ts
Due: pretty-quick --staged, eslint --fix --max-warnings 0

build: update packages except nice modal
  package-lock.json
  package.json
Due: none

fix: multi select logic
  src/components/form/household.tsx
  src/components/table/admin.tsx
  src/components/table/privatetable.tsx
  src/components/table/publictable.tsx
  src/components/table/unit.tsx
  src/utils/constants.tsx
  src/utils/interface.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

build: update nice modal package
  package-lock.json
  package.json
  src/utils/interface.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

ci: use wrangler for deployment
  .github/workflows/mm.yaml
Due: none

ci: fixed json payload for slack
  .github/workflows/mm.yaml
Due: none

ci: revert mm workflow
  .github/workflows/mm.yaml
Due: none

ci: add CF notification
  .github/workflows/cloudflare.yaml
Due: none

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  7f6652cfd5d105b96b1961df6221968171b0f902
Due: none

ci: fix chromatic trigger
  .github/workflows/mm.yaml
Due: none

update condition in publish_chromatic
  .github/workflows/mm.yaml
Due: none

fetch branch history when checking out
  .github/workflows/mm.yaml
Due: none

test: update storybook stories
  src/components/modal/assignments.stories.tsx
  src/components/modal/changeaddname.stories.tsx
  src/components/modal/changepassword.stories.tsx
  src/components/modal/changepostalcd.stories.tsx
  src/components/modal/changeterritorycd.stories.tsx
  src/components/modal/changeterritoryname.stories.tsx
  src/components/modal/congoptions.stories.tsx
  src/components/modal/congsettings.stories.tsx
  src/components/modal/instructions.stories.tsx
  src/components/modal/inviteuser.stories.tsx
  src/components/modal/newprivateadd.stories.tsx
  src/components/modal/newpublicadd.stories.tsx
  src/components/modal/newterritorycd.stories.tsx
  src/components/modal/newunit.stories.tsx
  src/components/modal/profile.stories.tsx
  src/components/modal/slipdetails.stories.tsx
  src/components/modal/updateaddfeedback.stories.tsx
  src/components/modal/updatestatus.stories.tsx
  src/components/modal/updateunit.stories.tsx
  src/components/modal/updateuser.stories.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

test: fix storybook modal
  src/components/modal/assignments.stories.tsx
  src/components/modal/changeaddname.stories.tsx
  src/components/modal/changepassword.stories.tsx
  src/components/modal/changepostalcd.stories.tsx
  src/components/modal/changeterritorycd.stories.tsx
  src/components/modal/changeterritoryname.stories.tsx
  src/components/modal/congoptions.stories.tsx
  src/components/modal/congsettings.stories.tsx
  src/components/modal/instructions.stories.tsx
  src/components/modal/inviteuser.stories.tsx
  src/components/modal/newprivateadd.stories.tsx
  src/components/modal/newpublicadd.stories.tsx
  src/components/modal/newterritorycd.stories.tsx
  src/components/modal/newunit.stories.tsx
  src/components/modal/profile.stories.tsx
  src/components/modal/slipdetails.stories.tsx
  src/components/modal/updateaddfeedback.stories.tsx
  src/components/modal/updatestatus.stories.tsx
  src/components/modal/updateunit.stories.tsx
  src/components/modal/updateuser.stories.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

test: fix assigmnment stories
  src/components/modal/assignments.stories.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

refactor: code clean up
  src/pages/dashboard/admin.tsx
  src/pages/territory/index.tsx
  src/pages/territory/slip.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

feat: false PR
  src/components/modal/changepassword.tsx
  src/components/modal/changepostalcd.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

feat: v2
  src/components/modal/changepassword.stories.tsx
  src/components/modal/changepassword.tsx
  src/components/modal/changepostalcd.stories.tsx
  src/components/modal/changepostalcd.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

refactor: clean up delta listener
  src/utils/helpers/postalcodelistener.ts
Due: eslint --fix --max-warnings 0

refactor: add onchildremove for expired link
  src/pages/territory/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

fix: hide postal code from shared link for better security
  src/components/modal/assignments.tsx
  src/pages/dashboard/admin.tsx
  src/pages/index.tsx
  src/pages/territory/index.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

refactor: clean up slip useEffect logic
  src/pages/territory/index.tsx
  src/pages/territory/slip.tsx
Due: pretty-quick --staged, eslint --fix --max-warnings 0

Path conditions:
  pretty-quick --staged: any of: *.{css, ts,tsx}
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
